body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_news5FlexContainer
{
   background-color: #EDEFEB;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#news5FlexContainer
{
   display: flex;
   position: relative;
   padding: 100px 0 70px 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_news5Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0 0 50px 0;
   text-align: center;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
}
#news5Heading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_news5Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50%;
   align-self: auto;
   min-height: 375px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #EDEFEB;
   border-radius: 0px;
   text-align: left;
}
#news5Card1-card-body
{
   padding: 50px 50px 50px 50px;
   flex: 1 1 auto;
   font-size: 0;
}
#news5Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 20px 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#news5Card1-card-item1
{
   display: inline-block;
   height: 34px;
   box-sizing: border-box;
   margin: 0;
   padding: 0 15px 15px 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#news5Card1-card-item1 i
{
   margin-right: 5px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#news5Card1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#news5Card1-card-item2 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#news5Card1-card-item3
{
   display: inline-block;
   height: 59px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 20px 30px 20px 30px;
   border: 0px solid #000000;
   border-radius: 100px;
   background-color: #1778F2;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#wb_news5Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50%;
   align-self: auto;
   min-height: 375px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: url('images/placeholder.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #EDEFEB;
   border-radius: 0px;
   text-align: left;
}
#news5Card2-card-body
{
   padding: 50px 50px 50px 50px;
   flex: 1 1 auto;
   font-size: 0;
}
#wb_news5Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50%;
   align-self: auto;
   min-height: 375px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #EDEFEB;
   border-radius: 0px;
   text-align: left;
}
#news5Card3-card-body
{
   padding: 50px 50px 50px 50px;
   flex: 1 1 auto;
   font-size: 0;
}
#news5Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 20px 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#news5Card3-card-item1
{
   display: inline-block;
   height: 34px;
   box-sizing: border-box;
   margin: 0;
   padding: 0 15px 15px 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#news5Card3-card-item1 i
{
   margin-right: 5px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#news5Card3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#news5Card3-card-item2 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#news5Card3-card-item3
{
   display: inline-block;
   height: 59px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 20px 30px 20px 30px;
   border: 0px solid #000000;
   border-radius: 100px;
   background-color: #1778F2;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#wb_news5Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50%;
   align-self: auto;
   min-height: 375px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: url('images/placeholder.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #EDEFEB;
   border-radius: 0px;
   text-align: left;
}
#news5Card4-card-body
{
   padding: 50px 50px 50px 50px;
   flex: 1 1 auto;
   font-size: 0;
}
#wb_menu6LayoutGrid
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #1E90FF;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.10);
}
#menu6LayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   flex: 0 0 auto;
}
#menu6LayoutGrid > .col-1
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid rgba(255,255,255,0.00);
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#menu6LayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 768px)
{
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#menu6Button
{
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_menu6Button
{
   border-radius: 100px;
   margin: 0;
   vertical-align: top;
}
#menu6Button
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_menu6Button .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#menu6Button
{
   color: inherit;
}
#wb_menu6Button .ui-corner-all, #wb_menu6Button .ui-corner-left
{
   border-bottom-left-radius: 100px;
   border-top-left-radius: 100px;
}
#wb_menu6Button .ui-corner-all, #wb_menu6Button .ui-corner-right
{
   border-bottom-right-radius: 100px;
   border-top-right-radius: 100px;
}
#wb_menu6Button .ui-button
{
   background-color: #0D6EFD;
   background-image: none;
   border: 0px solid #0D6EFD;
   color: #FFFFFF;
}
#wb_menu6Button .ui-state-hover, #wb_menu6Button .ui-button:hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#wb_menu6Button .ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#wb_menu6Button .ui-state-active, #wb_menu6Button .ui-button:active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
   color: #FFFFFF;
}
#wb_menu6Image
{
   margin: 0 15px 0 0 ;
   vertical-align: top;
}
#menu6Image
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 71px;
   height: 71px;
   vertical-align: top;
}
#wb_menu6Menu
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 30px 0 0 ;
   text-align: right;
   position: relative;
   z-index: 1111 !important;
}
#wb_menu6Menu::after
{
   content: "";
   display: table;
clear: both;
}
#wb_menu6Menu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
    font-size: 0;
   position: relative;
   display: inline-block;
}
#wb_menu6Menu li
{
   display: inline-block;
   margin: 0;
   padding: 0px 0px 0px 4px;
}
#wb_menu6Menu a
{
   display: block;
   color: #232323;
   border: 0px solid #0D6EFD;
   border-radius: 16px;
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 20px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_menu6Menu > ul > li > a
{
   height: 60px;
   line-height: 60px;
   padding: 0px 16px 0px 16px;
}
#wb_menu6Menu li:hover a, #wb_menu6Menu a:hover
{
   color: #232323;
   border: 0px solid #0A58CA;
   background-color: rgba(27,31,10,0.12);
   background-image: none;
}
#wb_menu6Menu li.firstmain
{
   padding-left: 0px;
}
#wb_menu6Menu li.lastmain
{
   padding-right: 0px;
}
#wb_menu6Menu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.menu6Menu-effect
{
   transition: all 300ms linear, visibility 0ms linear;
}
#wb_menu6Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#menu6Heading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
