body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_article1LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#article1LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#article1LayoutGrid1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#article1LayoutGrid1 > .col-1
{
   flex: 0 0 auto;
}
#article1LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#article1LayoutGrid1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_article1Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#article1Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#article1Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   text-align: center;
}
#article1Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   text-align: center;
}
#wb_article1LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#article1LayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 30px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#article1LayoutGrid2 > .col-1, #article1LayoutGrid2 > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#article1LayoutGrid2 > .col-1, #article1LayoutGrid2 > .col-2
{
   flex: 0 0 auto;
}
#article1LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#article1LayoutGrid2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 768px)
{
#article1LayoutGrid2 > .col-1, #article1LayoutGrid2 > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_article1Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 400px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: url('images/Screenshot 2025-08-07 174529.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border: 0px solid #DEE2E6;
   border-radius: 50px;
   text-align: left;
}
#article1Card1-card-body
{
   padding: 30px 30px 30px 30px;
   flex: 1 1 auto;
   font-size: 0;
}
#wb_article1Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 400px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: url('images/Screenshot 2025-08-07 174614.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border: 0px solid #DEE2E6;
   border-radius: 50px;
   text-align: left;
}
#article1Card2-card-body
{
   padding: 30px 30px 30px 30px;
   flex: 1 1 auto;
   font-size: 0;
}
