body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_list12LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('images/download.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#list12LayoutGrid
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#list12LayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#list12LayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#list12LayoutGrid > .row > .col-1
{
   float: left;
}
#list12LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#list12LayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#list12LayoutGrid:before,
#list12LayoutGrid:after,
#list12LayoutGrid .row:before,
#list12LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#list12LayoutGrid:after,
#list12LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#list12LayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#list12LayoutGrid-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 0px;
   background-color: #424242;
   opacity: 0.68;
}
#list12Accordion
{
   width: 100%;
   height: 100%;
}
#wb_list12Accordion .ui-helper-reset
{
   line-height: normal !important;
}
#list12Accordion .ui-accordion-header
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px !important;
   font-style: normal;
   outline: none;
   padding: 10px 0 10px 0;
   text-align: left;
}
#list12Accordion .ui-accordion-header:not(:first-child)
{
   margin-top: -1px;
}
#list12Accordion h4
{
   display: block;
   margin: 0;
}
#list12Accordion .ui-accordion-header .ui-icon
{
   position: absolute !important;
   right: 10px;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   height: 100%;
   width: 24px;
   box-sizing: border-box;
   background-image: none;
   fill: currentColor;
   margin: 0;
}
#list12Accordion .icon-default
{
   display: block;
   flex: 1;
   padding: 2px;
}
#list12Accordion .icon-active
{
   display: none;
   flex: 1;
   padding: 2px;
}
#list12Accordion .ui-state-active .icon-default
{
   display: none;
}
#list12Accordion .ui-state-active .icon-active
{
   display: block;
}
#list12Accordion .ui-accordion-content
{
   padding: 10px 0 10px 0;
   position: relative;
   font-size: 0;
   text-align: left;
}
#list12Accordion, #list12Accordion > .ui-corner-all, #list12Accordion > .ui-corner-top
{
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}
#list12Accordion .ui-corner-all, #list12Accordion .ui-corner-bottom
{
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
}
#list12Accordion .ui-widget-content
{
   border-color: rgba(44,87,155,1.00);
   border-width: 0px;
   background-color: rgba(44,87,155,0.00);
   background-image: none;
   color: transparent;
}
#list12Accordion .ui-state-default
{
   border-color: rgba(44,87,155,1.00);
   border-width: 0px;
   background-color: rgba(44,87,155,0.00);
   background-image: none;
   color: #ACD5F1;
}
#list12Accordion .ui-state-hover
{
   border-color: rgba(44,87,155,1.00);
   border-width: 0px;
   background-color: rgba(44,87,155,0.00);
   background-image: none;
   color: #ACD5F1;
}
#list12Accordion .ui-state-active
{
   border-color: rgba(44,87,155,1.00);
   border-width: 0px;
   background-color: rgba(44,87,155,0.00);
   background-image: none;
   color: #ACD5F1;
}
#wb_list12Accordion
{
   margin: 0;
}
#wb_list12Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_list12Text2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_list12Text2 div
{
   text-align: left;
}
#wb_list12Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_list12Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_list12Text3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_list12Text3 div
{
   text-align: left;
}
#wb_list12Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_list12Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_list12Text4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_list12Text4 div
{
   text-align: left;
}
#wb_list12Text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_list12Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_list12Text5
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_list12Text5 div
{
   text-align: left;
}
#wb_list12Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_list12Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 15px 0 ;
   padding: 0;
   text-align: left;
}
#list12Heading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_list12Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 30px 0 ;
   text-align: left;
}
#wb_list12Text1 div
{
   text-align: left;
}
#wb_list12Text1
{
   display: block;
   margin: 0 0 30px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_menu6LayoutGrid
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #1E90FF;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.10);
}
#menu6LayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   flex: 0 0 auto;
}
#menu6LayoutGrid > .col-1
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid rgba(255,255,255,0.00);
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#menu6LayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 768px)
{
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#menu6Button
{
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_menu6Button
{
   border-radius: 100px;
   margin: 0;
   vertical-align: top;
}
#menu6Button
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_menu6Button .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#menu6Button
{
   color: inherit;
}
#wb_menu6Button .ui-corner-all, #wb_menu6Button .ui-corner-left
{
   border-bottom-left-radius: 100px;
   border-top-left-radius: 100px;
}
#wb_menu6Button .ui-corner-all, #wb_menu6Button .ui-corner-right
{
   border-bottom-right-radius: 100px;
   border-top-right-radius: 100px;
}
#wb_menu6Button .ui-button
{
   background-color: #0D6EFD;
   background-image: none;
   border: 0px solid #0D6EFD;
   color: #FFFFFF;
}
#wb_menu6Button .ui-state-hover, #wb_menu6Button .ui-button:hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#wb_menu6Button .ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#wb_menu6Button .ui-state-active, #wb_menu6Button .ui-button:active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
   color: #FFFFFF;
}
#wb_menu6Image
{
   margin: 0 15px 0 0 ;
   vertical-align: top;
}
#menu6Image
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 71px;
   height: 71px;
   vertical-align: top;
}
#wb_menu6Menu
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 30px 0 0 ;
   text-align: right;
   position: relative;
   z-index: 1111 !important;
}
#wb_menu6Menu::after
{
   content: "";
   display: table;
clear: both;
}
#wb_menu6Menu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
    font-size: 0;
   position: relative;
   display: inline-block;
}
#wb_menu6Menu li
{
   display: inline-block;
   margin: 0;
   padding: 0px 0px 0px 4px;
}
#wb_menu6Menu a
{
   display: block;
   color: #232323;
   border: 0px solid #0D6EFD;
   border-radius: 16px;
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 20px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_menu6Menu > ul > li > a
{
   height: 60px;
   line-height: 60px;
   padding: 0px 16px 0px 16px;
}
#wb_menu6Menu li:hover a, #wb_menu6Menu a:hover
{
   color: #232323;
   border: 0px solid #0A58CA;
   background-color: rgba(27,31,10,0.12);
   background-image: none;
}
#wb_menu6Menu li.firstmain
{
   padding-left: 0px;
}
#wb_menu6Menu li.lastmain
{
   padding-right: 0px;
}
#wb_menu6Menu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.menu6Menu-effect
{
   transition: all 300ms linear, visibility 0ms linear;
}
#wb_menu6Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#menu6Heading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_footer12LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #424242;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer12LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer12LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#footer12LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#footer12LayoutGrid1 > .row > .col-1
{
   float: left;
}
#footer12LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#footer12LayoutGrid1:before,
#footer12LayoutGrid1:after,
#footer12LayoutGrid1 .row:before,
#footer12LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#footer12LayoutGrid1:after,
#footer12LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#footer12LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_footer12Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 20px 0 20px 0;
   margin: 0;
   text-align: center;
}
#wb_footer12Text2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 19px;
   line-height: 21px;
}
#wb_footer12Text2 p, #wb_footer12Text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_footer12Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_footer12LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #222222;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer12LayoutGrid2
{
   box-sizing: border-box;
   padding: 50px 0 15px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer12LayoutGrid2 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#footer12LayoutGrid2 > .row > .col-1, #footer12LayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#footer12LayoutGrid2 > .row > .col-1, #footer12LayoutGrid2 > .row > .col-2
{
   float: left;
}
#footer12LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#footer12LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: right;
}
#footer12LayoutGrid2:before,
#footer12LayoutGrid2:after,
#footer12LayoutGrid2 .row:before,
#footer12LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#footer12LayoutGrid2:after,
#footer12LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#footer12LayoutGrid2 > .row > .col-1, #footer12LayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_footer12Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0 0 0 6px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footer12Icon1 a
{
   text-decoration: none;
}
#wb_footer12Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footer12Icon1
{
   height: 28px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#footer12Icon1 i
{
   color: #AAAAAA;
   display: inline-block;
   font-size: 24px;
   line-height: 28px;
   vertical-align: middle;
}
#wb_footer12Icon1:hover #footer12Icon1 i
{
   color: #AAAAAA;
}
#wb_footer12Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0 0 0 6px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footer12Icon2 a
{
   text-decoration: none;
}
#wb_footer12Icon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footer12Icon2
{
   height: 28px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#footer12Icon2 i
{
   color: #AAAAAA;
   display: inline-block;
   font-size: 24px;
   line-height: 28px;
   vertical-align: middle;
}
#wb_footer12Icon2:hover #footer12Icon2 i
{
   color: #AAAAAA;
}
#wb_footer12Icon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0 0 0 6px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footer12Icon3 a
{
   text-decoration: none;
}
#wb_footer12Icon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footer12Icon3
{
   height: 28px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#footer12Icon3 i
{
   color: #AAAAAA;
   display: inline-block;
   font-size: 24px;
   line-height: 28px;
   vertical-align: middle;
}
#wb_footer12Icon3:hover #footer12Icon3 i
{
   color: #AAAAAA;
}
#wb_footer12Icon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0 0 0 6px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footer12Icon4 a
{
   text-decoration: none;
}
#wb_footer12Icon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footer12Icon4
{
   height: 28px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#footer12Icon4 i
{
   color: #AAAAAA;
   display: inline-block;
   font-size: 24px;
   line-height: 28px;
   vertical-align: middle;
}
#wb_footer12Icon4:hover #footer12Icon4 i
{
   color: #AAAAAA;
}
#footer12Breadcrumb1
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0 0 5px 0 ;
   text-align: left;
}
#footer12Breadcrumb1 > li
{
   display: inline-block;
   font-size: 19px;
   text-transform: none;
}
#footer12Breadcrumb1 a
{
   color: #C2C1C1;
   text-decoration: none;
}
#footer12Breadcrumb1 a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#footer12Breadcrumb1 > .active
{
   color: #FFFFFF;
}
#footer12Breadcrumb1 > .active a
{
   color: inherit;
   pointer-events: none;
}
#footer12Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 0px;
   color: #C0C0C0;
}
#footer12Breadcrumb1 li i
{
   font-size: 19px;
   width: 21px;
}
#footer12Breadcrumb2
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0 0 5px 0 ;
   text-align: left;
}
#footer12Breadcrumb2 > li
{
   display: inline-block;
   font-size: 19px;
   text-transform: none;
}
#footer12Breadcrumb2 a
{
   color: #C2C1C1;
   text-decoration: none;
}
#footer12Breadcrumb2 a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#footer12Breadcrumb2 > .active
{
   color: #FFFFFF;
}
#footer12Breadcrumb2 > .active a
{
   color: inherit;
   pointer-events: none;
}
#footer12Breadcrumb2 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#footer12Breadcrumb2 li i
{
   font-size: 19px;
   width: 21px;
}
#footer12Breadcrumb3
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0 0 5px 0 ;
   text-align: left;
}
#footer12Breadcrumb3 > li
{
   display: inline-block;
   font-size: 19px;
   text-transform: none;
}
#footer12Breadcrumb3 a
{
   color: #C2C1C1;
   text-decoration: none;
}
#footer12Breadcrumb3 a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#footer12Breadcrumb3 > .active
{
   color: #FFFFFF;
}
#footer12Breadcrumb3 > .active a
{
   color: inherit;
   pointer-events: none;
}
#footer12Breadcrumb3 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#footer12Breadcrumb3 li i
{
   font-size: 19px;
   width: 21px;
}
#wb_footer12Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 8px 0 ;
   text-align: right;
}
#wb_footer12Text1
{
   color: #F7F7F7;
   font-family: Arial;
   font-weight: 400;
   font-size: 19px;
   line-height: 26px;
}
#wb_footer12Text1 p, #wb_footer12Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_footer12Text1
{
   display: block;
   margin: 0 0 8px 0 ;
   box-sizing: border-box;
   width: 100%;
}
