body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_gallery10Carousel
{
   background-color: #F8F9FA;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_gallery10Carousel
{
   height: 50vh;
}
#gallery10Carousel
{
   position: relative;
   margin: 0;
;
   height: 100%;
   box-sizing: border-box;
}
#gallery10Carousel .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#gallery10Carousel .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#gallery10Carousel .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transition: transform 500ms ease-in-out;
   height: 100%;
   text-align: center;
}
#gallery10Carousel .carousel-item-next:not(.carousel-item-start), #gallery10Carousel .active.carousel-item-end
{
   transform: translateX(100%);
}
#gallery10Carousel .carousel-item-prev:not(.carousel-item-end), #gallery10Carousel .active.carousel-item-start
{
   transform: translateX(-100%);
}
#gallery10Carousel .carousel-item-inner
{
   padding: 0 0 100px 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
   box-sizing: border-box;
}
#gallery10Carousel .carousel-inner > .carousel-item > img, #gallery10Carousel .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#gallery10Carousel .carousel-inner > .active, #gallery10Carousel .carousel-inner > .carousel-item-next, #gallery10Carousel .carousel-inner > .carousel-item-prev
{
   display: block;
}
#gallery10Carousel .carousel-inner > .carousel-item-next, #gallery10Carousel .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#gallery10Carousel .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -75px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#gallery10Carousel .carousel-indicators li
{
   display: block;
   float: left;
   margin: 10px 10px 10px 10px;
   width: 9px;
   height: 9px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: rgba(255,255,255,1.00);
   border: 1px solid rgba(222,226,230,1.00);
}
#gallery10Carousel .carousel-indicators .active
{
   background-color: rgba(222,226,230,1.00);
}
#gallery10Carousel .carousel-control
{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   left: 0;
   top: 0;
   bottom: 0;
   width: 10%;
   text-align: center;
   opacity: 0.5;
   transition: opacity 0.3s ease;
   cursor: pointer;
   z-index: 7778;
}
#gallery10Carousel .carousel-control.carousel-item-end
{
   left: auto;
   right: 0;
}
#gallery10Carousel .carousel-control .carousel-control-prev-icon, #gallery10Carousel .carousel-control .carousel-control-next-icon
{
   display: inline-block;
   position: absolute;
   width: 48px;
   height: 48px;
   z-index: 5;
}
#gallery10Carousel .carousel-control:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
.sr-only
{
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0px, 0px, 0px, 0px);
   border: 0;
}
#gallery10Carousel .frame
{
   width: 970px;
   display: inline-block;
   float: left;
   height: 530px;
}
#gallery10Carousel .carousel-control-next, #gallery10Carousel .carousel-control-prev
{
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
   transition: opacity 0.3s ease;
}
#gallery10Carousel .carousel-control-next-icon, #gallery10Carousel .carousel-control-prev-icon
{
   display: inline-block;
   width: 48px;
   height: 48px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#gallery10Carousel .carousel-control-next:hover, #gallery10Carousel .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#gallery10Carousel .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23DEE2E6%22%20viewBox%3d%220%200%20192%20192%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M51%2088%20C49%2090%2c%2048%2093%2c%2048%2096%20L48%2096%20L48%2096%20C48%2099%2c%2049%20102%2c%2051%20105%20L123%20177%20L123%20177%20C126%20179%2c%20129%20180%2c%20132%20180%20C135%20180%2c%20138%20179%2c%20141%20177%20C143%20174%2c%20144%20171%2c%20144%20168%20C144%20165%2c%20143%20162%2c%20141%20160%20L77%2096%20L77%2096%20L141%2033%20L141%2033%20C143%2030%2c%20144%2027%2c%20144%2024%20C144%2021%2c%20143%2018%2c%20141%2016%20C138%2013%2c%20135%2012%2c%20132%2012%20C129%2012%2c%20126%2013%2c%20123%2016%20L51%2088Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#gallery10Carousel .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23DEE2E6%22%20viewBox%3d%220%200%20192%20192%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M141%2088%20C143%2090%2c%20144%2093%2c%20144%2096%20L144%2096%20L144%2096%20C144%2099%2c%20143%20102%2c%20141%20105%20L69%20177%20L69%20177%20C66%20179%2c%2063%20180%2c%2060%20180%20C57%20180%2c%2054%20179%2c%2051%20177%20C49%20174%2c%2048%20171%2c%2048%20168%20C48%20165%2c%2049%20162%2c%2051%20160%20L115%2096%20L115%2096%20L51%2033%20L51%2033%20C49%2030%2c%2048%2027%2c%2048%2024%20C48%2021%2c%2049%2018%2c%2051%2016%20C54%2013%2c%2057%2012%2c%2060%2012%20C63%2012%2c%2066%2013%2c%2069%2016%20L141%2088Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#gallery10Carousel .frame-1
{
   background-color: transparent;
   background-image: url('images/placeholder.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#gallery10Carousel .frame-2
{
   background-color: transparent;
   background-image: url('images/placeholder.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#gallery10Carousel .frame-3
{
   background-color: transparent;
   background-image: url('images/placeholder.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#gallery10Carousel .frame-4
{
   background-color: transparent;
   background-image: url('images/placeholder.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#gallery10Carousel .frame-5
{
   background-color: transparent;
   background-image: url('images/placeholder.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#wb_gallery10Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 50px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#gallery10Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#gallery10Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#gallery10Card1-card-item0 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#gallery10Card1-card-item1
{
   box-sizing: border-box;
   margin: 15px 0 0 0 ;
   padding: 0;
}
#gallery10Card1-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#gallery10Card1-card-item2
{
   display: inline-block;
   height: 50px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   border: 0px dotted #0D6EFD;
   border-radius: 100px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#gallery10Card1-card-item2 a
{
   color: inherit;
   display: block;
   padding: 15px 30px 15px 30px;
   text-decoration: none;
}
#wb_gallery10Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 50px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#gallery10Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#gallery10Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#gallery10Card2-card-item0 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#gallery10Card2-card-item1
{
   box-sizing: border-box;
   margin: 15px 0 0 0 ;
   padding: 0;
}
#gallery10Card2-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#gallery10Card2-card-item2
{
   display: inline-block;
   height: 50px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   border: 0px dotted #0D6EFD;
   border-radius: 100px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#gallery10Card2-card-item2 a
{
   color: inherit;
   display: block;
   padding: 15px 30px 15px 30px;
   text-decoration: none;
}
#wb_gallery10Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#gallery10Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#gallery10Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#gallery10Card3-card-item0 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#gallery10Card3-card-item1
{
   box-sizing: border-box;
   margin: 15px 0 0 0 ;
   padding: 0;
}
#gallery10Card3-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#gallery10Card3-card-item2
{
   display: inline-block;
   height: 50px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   border: 0px dotted #0D6EFD;
   border-radius: 100px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#gallery10Card3-card-item2 a
{
   color: inherit;
   display: block;
   padding: 15px 30px 15px 30px;
   text-decoration: none;
}
#wb_menu6LayoutGrid
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #1E90FF;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.10);
}
#menu6LayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   flex: 0 0 auto;
}
#menu6LayoutGrid > .col-1
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid rgba(255,255,255,0.00);
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#menu6LayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 768px)
{
#menu6LayoutGrid > .col-1, #menu6LayoutGrid > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#menu6Button
{
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_menu6Button
{
   border-radius: 100px;
   margin: 0;
   vertical-align: top;
}
#menu6Button
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_menu6Button .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#menu6Button
{
   color: inherit;
}
#wb_menu6Button .ui-corner-all, #wb_menu6Button .ui-corner-left
{
   border-bottom-left-radius: 100px;
   border-top-left-radius: 100px;
}
#wb_menu6Button .ui-corner-all, #wb_menu6Button .ui-corner-right
{
   border-bottom-right-radius: 100px;
   border-top-right-radius: 100px;
}
#wb_menu6Button .ui-button
{
   background-color: #0D6EFD;
   background-image: none;
   border: 0px solid #0D6EFD;
   color: #FFFFFF;
}
#wb_menu6Button .ui-state-hover, #wb_menu6Button .ui-button:hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#wb_menu6Button .ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#wb_menu6Button .ui-state-active, #wb_menu6Button .ui-button:active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
   color: #FFFFFF;
}
#wb_menu6Image
{
   margin: 0 15px 0 0 ;
   vertical-align: top;
}
#menu6Image
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 71px;
   height: 71px;
   vertical-align: top;
}
#wb_menu6Menu
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 30px 0 0 ;
   text-align: right;
   position: relative;
   z-index: 1111 !important;
}
#wb_menu6Menu::after
{
   content: "";
   display: table;
clear: both;
}
#wb_menu6Menu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
    font-size: 0;
   position: relative;
   display: inline-block;
}
#wb_menu6Menu li
{
   display: inline-block;
   margin: 0;
   padding: 0px 0px 0px 4px;
}
#wb_menu6Menu a
{
   display: block;
   color: #232323;
   border: 0px solid #0D6EFD;
   border-radius: 16px;
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 20px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_menu6Menu > ul > li > a
{
   height: 60px;
   line-height: 60px;
   padding: 0px 16px 0px 16px;
}
#wb_menu6Menu li:hover a, #wb_menu6Menu a:hover
{
   color: #232323;
   border: 0px solid #0A58CA;
   background-color: rgba(27,31,10,0.12);
   background-image: none;
}
#wb_menu6Menu li.firstmain
{
   padding-left: 0px;
}
#wb_menu6Menu li.lastmain
{
   padding-right: 0px;
}
#wb_menu6Menu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.menu6Menu-effect
{
   transition: all 300ms linear, visibility 0ms linear;
}
#wb_menu6Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#menu6Heading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
